[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesPostEst"]
	path = BayesPostEst
	url = https://github.com/shanascogin/bayespostest
[submodule "coxrobust"]
	path = coxrobust
	url = https://github.com/shanascogin/coxrobust
[submodule "modeLLtest"]
	path = modeLLtest
	url = https://github.com/shanascogin/modelltest
